<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymleaf Demo</title>

<!--    <script th:inline="javascript">-->
<!--        /*<![CDATA[*/-->

<!--            var param = /*[[${param}]]*/ 'default';-->
<!--            console.log("param",param);-->

<!--        /*]]>*/-->
<!--    </script>-->
</head>
<body>
Hello World of Spring!
<br><br>
Student name: <span th:text="${param.studentName}"/>

<br><br>
The message: <span th:text="${message}"/>
</body>
</html>